body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 40px
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    display: flex;

}


.navbar-menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-item {
    margin-left: 1.5rem;
}

.navbar-item a {
    text-decoration: none;
    color: #333;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.navbar-item a:hover {
    color: #007bff;
}

.vertical-rectangle {
    width: 1000px; /* Adjust width as needed */
    height: calc(100vh - 150px); /* Adjust height to touch the bottom and leave space on top */
    background-color: beige; /* Example background color */
    position: fixed; /* Fixed positioning to stay in viewport */
    bottom: 0; /* Stick to the bottom of the viewport */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Center horizontally */
    border: 2px solid #000000;
}
