body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat-container {
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
}

.chat-header {
    height: 30px;
    background-color: #4a90e2;
    padding: 15px;
    color: white;
    text-align: center;
    position: relative;
    justify-content: center;
}

.close-button {
    background-color: #142d4c;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: white;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;   
    
}
.close-button:hover {
    color: white;
    background-color: #0056b3; /* Slightly darker background on hover */
}

.chat-window {
    flex: 1;
    padding: 15px;
    overflow-y: auto;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.message {
    margin-bottom: 15px;
}

.user-message {
    text-align: right;
}

.bot-message {
    text-align: left;
}

.message p {
    display: inline-block;
    padding: 10px 15px;
    border-radius: 20px;
    max-width: 70%;
}

.user-message p {
    background-color: #e1f5fe;
}

.bot-message p {
    background-color: #eceff1;
}

.chat-input {
    display: flex;
    padding: 10px;
    justify-content: center;
}


.send-message-bar {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 20px;
    outline: none;
    margin-right: 10px;
    background-color: #f0f0f0;
    display: flex;
    max-width: 1000px;
    border-top: 1px solid #ddd;
    padding: 10px;
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    outline: none;
    font-size: 16px;
    transition: border-color 0.3s;
}

.send-message-button {
    border-radius: 20px;
    border: 1px solid #000;
    padding: 5px 10px;
    background-color: #142d4c;
    color: white;
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.send-message-button:hover {
    color: white;
    background-color: #0056b3; /* Slightly darker background on hover */
}

.send-message-bar:focus {
    border-color: #4a90e2;
}